* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 6vh;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.head1 a,
.head2 a {
    color: rgb(112, 112, 112);
    text-decoration: none;
    padding: 0px 10px;
}

.head1 {
    width: 55%;
}

.head1 i {
    padding: 0px 5px;
    color: rgb(0, 174, 239);
}

.head2 a {
    padding: 0px 7px;
    color: rgb(112, 112, 112);
}

nav {
    width: 100%;
    height: 14vh;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


nav ul li{
    position: relative;
    padding: 2px;
}


nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(35, 35, 35)
}

.fa-solid{
    font-size: 12px;
    position: relative;
    top: -2px;
}

nav li a:hover, .dropdown ul li:hover{
    color: rgb(0, 174, 239);
}

.dropdown{
    display: none;
}

nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    top: 25px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px;
    border: 1px solid white;
}

nav ul li:hover .dropdown ul{
    display: block;
}

nav ul li:hover .dropdown ul li{
    width: 150px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid rgb(230, 227, 227);
}

.dropdown1{
    display: none;
}

.dropdown ul li:hover .dropdown1{
    display: block;
    position: absolute;
    top: 0px;
    left: 152px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px;
} 

.dropdown ul li:hover .dropdown1 ul{
    display: block;
}

.dropdown ul li:hover .dropdown1 ul li{
    width: 150px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid rgb(230, 227, 227);
}

.btn {
    height: 48%;
    width: 11%;
    color: white;
    background-color: rgb(0, 174, 239);
    border: none;
}

.btn:hover{
    color: rgb(0, 174, 239);
    background-color: white;
    border: 2px solid rgb(0, 174, 239);
}

.name{
    width: 100%;
    height: 30vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./Img/bg-img/12.jpg') no-repeat fixed center/cover;
}

.name::before{
    width: 100%;
    height: 30%;
    content: "";
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
    position: absolute;
}

.name h1{
    color: white;
    font-size: 38px;
    z-index: 1;
}

.name div{
    position: absolute;
    top: 370px;
    left: 120px;
}

.name div a{
    text-decoration: none;
    color: black;
}

.name div span{
   color: rgb(112,112,135)
}


.services{
    width: 100%;
    height: 110vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.services-flex{
    width: 92%;
    height: 35%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}

.services-flex div{
    width: 28%;
    height: 100%;
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 50px;
}

.services-flex div img, .services-flex div h3, .services-flex div p{
    padding-bottom: 20px;
}

.services-flex div img{
    /* color: rgb(0, 174, 239); */
    filter: invert(100%);
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 5px;
}

.services-flex div img:hover{
    border: 2px solid rgb(168, 40, 40);
    border-radius: 50%;
}

.patient{
    width: 100%;
    height: 50vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('./Img/bg-img/7.jpg') no-repeat fixed 50% 20%/cover;
}

.patient::before{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    content: "";
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
    position: absolute;
}

.patient-img{
    width: 15%;
    height: 60%;
    /* border: 1px solid black; */
    z-index: 1;
}

.patient-img img{
    border-radius: 50%;
}

.patient-info{
    width: 70%;
    height: 60%;
    /* border: 1px solid black; */
    z-index: 1;
    line-height: 1.5;
}

.patient-info h3{
    padding: 10px 0;
}

.news{
    width: 100%;
    height: 120vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.news h1{
    font-size: 40px;
    text-decoration: underline rgb(0, 174, 239) 5px;
}

.latest-news{
    width: 80%;
    height: 60%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.latest-news div{
    width: 30%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

.latest-news img{
    width: 100%;
    height: 50%;
}

.latest-news h3, .latest-news p{
    padding: 10px 24px;
    text-align: justify;
    position: relative;
    top: 12px;
}

.latest-news i{
    color: rgb(0, 174, 239);
}

.latest-news span{
    padding-right: 10px;
}

.footer{
    width: 100%;
    height: 80vh;
    /* border-bottom: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url('./Img/bg-img/3.jpg') no-repeat fixed center/cover;
}

.footer::before{
    height: 80%;
    width: 100%;
    /* border: 1px solid black; */
    content: "";
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
    position: absolute;
}

.foot{
    width: 85%;
    height: 80%;
    border-bottom: 1px solid black;
    display:  flex;
    justify-content: space-between;
    color: white;
    z-index: 1;
}

.foot1{
    width: 31%;
    height: 80%;
    /* border: 1px solid black; */
}

.foot1 p i{
    color: rgb(0, 174, 239);;
}

.foot1 img{
    padding-bottom: 18px;
}

.foot2{
    width: 22%;
    height: 80%;
    /* border: 1px solid black; */
}

.foot3{
    width: 16%;
    height: 80%;
    /* border: 1px solid black; */
}

.foot4{
    width: 22%;
    height: 80%;
    /* border: 1px solid black; */
}

.foot4 h3{
    padding-bottom: 28px !important;
}

.foot4 input{
    width: 100%;
    height: 12%;
}

.foot4 a{
    display: inline-block;
    padding: 18px 12px 0 0;
    color: white;
}

.foot1, .foot2, .foot3, .foot4{
    position: relative;
    top: 60px;
}

.foot li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.foot p{
    line-height: 1.5;
    padding-bottom: 10px;
}

.foot h3{
    padding-bottom: 22px;
}

.copyright{
    color: white;
    z-index: 1;
}
